<h2>Paises</h2>
<hr>
<ul class="list-group">
  <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="" class="list-group-item">Home Page</a>
  <a routerLink="/about" routerLinkActive="active" href="" class="list-group-item">About Page</a> -->
  <!-- <a routerLink="/contact" routerLinkActive="active" href="" class="list-group-item">Contact Page</a> -->
  <a routerLink="/countries/bycapital" routerLinkActive="active" href="" class="list-group-item">By Capital</a>
  <a routerLink="/countries/bycountry" routerLinkActive="active" href="" class="list-group-item">By Country</a>
  <a routerLink="/countries/byregion" routerLinkActive="active" href="" class="list-group-item">By Region</a>
</ul>
